**1. Print Function**

-- printting strings use " " , quotes

In [1]:
print("Hello World!")

Hello World!

-- Print your name.

In [3]:
print(22) #print a number like your age no need to use quotes

22

**2. Data Types**

fucntion type()

In [4]:
x=10
type(10)

int

Integer is number without deciaml point.

In [5]:
y=4.5
type(y)

float

Float is number with decimal point.

In [6]:
y="Tanya"
type(y)

str

str means string that is text data type.

In [8]:
y = False
type(y)

bool

bool means boolean;  a form of data with only two possible values (usually "true" and "false")

In [ ]:
#Data types that will be useful for us most of the time in Data Science
int
float
string
bool  True , False